/*https://codepen.io/chocochip/pen/zYxMgRG*/
.popover {
    left: -49px;

    /*para o topo
    transform: translate(0px, -129px);
    */

    /*para baixo*/
    transform: translate(0px, 45px);
}

div .popover-arrow {
    position: absolute;
    left: 0px;
    transform: translate(60px, 0px);    
}

.popover-body {
    min-width: 250px;
    /*white-space: nowrap;*/
    padding: 8px;
}